/*** GLOBAL PAGE LAYOUT ***/


#menuleft {
position: absolute;
top: 44px;
left: 10px;
width:170px;
padding:3px;
}


#content{
   min-height: 350px;
   margin-top: 12px;
   margin-right: 112px;
   margin-left: 190px;
   padding: 10px 20px 20px 20px;
}

B.question {
   font-size: 2em;
	color: #922222;
}

B {
	color: #444;
}

BODY {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Sans", Arial,  sans-serif;
	font-size: 12px;
	color: #222222;
	background-color: #fff;
	height: 100%;
	text-align: justify;
   /*width: 90%;*/
}

/*** PAGE SUBSECTION STYLING ***/

DIV.subsection {
   margin-bottom: 60px;
}

DIV.subsection PRE, DIV.subsection IMG {
   margin-left: 40px;
}

/*** TOC STYLING ***/

DIV.toc-section {
   margin-bottom: 40px;
}

DIV.toc-section DIV.body {
   margin-left: 20px;
}

/*** HEADER, ANCHOR & CODE STYLING ***/

H1, H2, H3, H4, H5, H6 {
	color: #444;
}

H1 {
   border-bottom: 2px solid grey;
   padding-bottom: 10px;
   font-size: 2.1em;
}

H2 {
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   font-size: 1.7em;
   background: #fbfbfb;
}

H3 {
   padding-top: 30px;
   padding-bottom: 0px;
   font-size: 1.3em;
}

A {
	color: #227222;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

CODE, CODE.variable, TD.duration-interface-attribute {
	color: #a22222;
	font-family: "Courier New", "Courier", serif;
}

CODE.variable {
   font-style: italic;
}

/*** TABLE STYLING ***/

TABLE {
	font-size: 12px;
   margin-left: 40px;
}

TD {
   text-align: center;
}

TD.euro-pitch-name {
   text-align: left;
}

TD.first-column-accidental {
   text-align: right;
}

TD.accidental-abbreviation {
   text-align: left;
   padding-left: 20px;
}

TD.second-column-accidental {
   width: 140px;
   text-align: right;
}

TD.us-pitch-name {
   width: 80px;
}

TD.duration-interface-attribute {
   text-align: right;
}

TR#abjad-classes TD {
   padding-bottom: 10px;
}

TD.abjad-class {
   width: 80px;
}

TD.key-rhs {
   text-align: left;
}

TABLE.key {
   font-size: 10px;
}

CAPTION {
   caption-side: bottom;
   font-size: 10px;
   font-style: oblique;
}



PRE {
	color: #902212;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dotted #aaaaaa;
   text-align: left; 
}

